{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="container-fuid">
        <div id="page">
                
            <aside>
                <div id="container-fuid">
                    <h3>menu</h3>
                    <h3>Jogos</h3>
                    <h3>Perfil</h3>
                </div>
            </aside>
        
            <section>
                <div id="container-fuid">
                    <h2>Meu texto</h2>
                    <dl id="windows">
                        <dt class="window">
                            <p>Jogo_1</p>
                        </dt>
                        <dt class="window">
                            <p>Jogo_2</p>
                        </dt>
                        <dt class="window">
                            <p>jogo_3</p>
                        </dt>
                    </dl>
                </div>
            </section>
        </div>
    </div>
{% endblock %}